importing required libraries, this notebook will run on a databricks workspace

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import urllib

listing the files present in default databricks stack s3 bucket

In [ ]:
display(dbutils.fs.ls("/mnt/databricks-workspace-stack-9a37a-bucket"))

path,name,size,modificationTime
dbfs:/mnt/databricks-workspace-stack-9a37a-bucket/mumbai-prod/,mumbai-prod/,0,1696963970756
dbfs:/mnt/databricks-workspace-stack-9a37a-bucket/yellow_tripdata_2022-01.parquet,yellow_tripdata_2022-01.parquet,38139949,1696941884000
dbfs:/mnt/databricks-workspace-stack-9a37a-bucket/yellow_tripdata_2023-01.parquet,yellow_tripdata_2023-01.parquet,47673370,1696941884000

reading the parquet files for jan 2022, jan 2023 to spark data frames

In [ ]:
file_type = "parquet"

df_jan2022 = spark.read.format(file_type) \
    .load('/mnt/databricks-workspace-stack-9a37a-bucket/yellow_tripdata_2022-01.parquet')

df_jan2023 = spark.read.format(file_type) \
    .load('/mnt/databricks-workspace-stack-9a37a-bucket/yellow_tripdata_2023-01.parquet')

In [ ]:
df_jan2023.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-01-01 00:32:10|  2023-01-01 00:40:36|            1.0|         0.97|       1.0|                 N|         161|         141|           2|        9.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        14.3|                 2.5|        0.0|
|       2| 2023-01-01 00:55:08|  2023-01-01 01:01:27|            1.0|          1.1|       1.0|                 N|          43|         237|           1|        7.9|  1.0|    0.5|       4.0|         0.0|                  1.0|        16.9|                 2.5|        0.0|
|       2| 2023-01-01 00:25:04|  2023-01-01 00:37:49|            1.0|         2.51|       1.0|                 N|          48|         238|           1|       14.9|  1.0|    0.5|      15.0|         0.0|                  1.0|        34.9|                 2.5|        0.0|
|       1| 2023-01-01 00:03:48|  2023-01-01 00:13:25|            0.0|          1.9|       1.0|                 N|         138|           7|           1|       12.1| 7.25|    0.5|       0.0|         0.0|                  1.0|       20.85|                 0.0|       1.25|
|       2| 2023-01-01 00:10:29|  2023-01-01 00:21:19|            1.0|         1.43|       1.0|                 N|         107|          79|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-01-01 00:50:34|  2023-01-01 01:02:52|            1.0|         1.84|       1.0|                 N|         161|         137|           1|       12.8|  1.0|    0.5|      10.0|         0.0|                  1.0|        27.8|                 2.5|        0.0|
|       2| 2023-01-01 00:09:22|  2023-01-01 00:19:49|            1.0|         1.66|       1.0|                 N|         239|         143|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-01-01 00:27:12|  2023-01-01 00:49:56|            1.0|         11.7|       1.0|                 N|         142|         200|           1|       45.7|  1.0|    0.5|     10.74|         3.0|                  1.0|       64.44|                 2.5|        0.0|
|       2| 2023-01-01 00:21:44|  2023-01-01 00:36:40|            1.0|         2.95|       1.0|                 N|         164|         236|           1|       17.7|  1.0|    0.5|      5.68|         0.0|                  1.0|       28.38|                 2.5|        0.0|
|       2| 2023-01-01 00:39:42|  2023-01-01 00:50:36|            1.0|         3.01|       1.0|                 N|         141|         107|           2|       14.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.9|                 2.5|        0.0|
|       2| 2023-01-01 00:53:01|  2023-01-01 01:01:45|            1.0|          1.8|       1.0|                 N|         234|          68|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       1| 2023-01-01 00:43:37|  2023-01-01 01:17:18|            4.0|          7.3|       1.0|                 N|          79|         264|           1|       33.8|  3.5|    0.5|      7.75|         0.0|                  1.0|       46.55|                 2.5|        0.0|
|       2| 2023-01-01 00:34:44|  2023-01-01 01:04:25|            1.0|         3.23|       1.0|                 N|         164|         143|           1|       26.1|  1.0|    0.5|      6.22|         0.0|                  1.0|       37.32|                 2.5|        0.0|
|       2| 2023-01-01 00:09:29|  2023-01-01 00:29:23|            2.0|        11.43|       1.0|                 N|         138|          33|           1|       44.3|  6.0|    0.5|     13.26|         0.0|                  1.0|       66.31|                 0.0|       1.25|
|       2| 2023-01-01 00:33:53|  2023-01-01 00:49:15|            1.0|         2.95|       1.0|                 N|          33|          61|           1|       17.7|  1.0|    0.5|      4.04|         0.0|                  1.0|       24.24|                 0.0|        0.0|
|       2| 2023-01-01 00:13:04|  2023-01-01 00:22:10|            1.0|         1.52|       1.0|                 N|          79|         186|           1|       10.0|  1.0|    0.5|      1.25|         0.0|                  1.0|       16.25|                 2.5|        0.0|
|       2| 2023-01-01 00:45:11|  2023-01-01 01:07:39|            1.0|         2.23|       1.0|                 N|          90|          48|           1|       19.8|  1.0|    0.5|      4.96|         0.0|                  1.0|       29.76|                 2.5|        0.0|
|       1| 2023-01-01 00:04:33|  2023-01-01 00:19:22|            1.0|          4.5|       1.0|                 N|         113|         255|           1|       20.5|  3.5|    0.5|       4.0|         0.0|                  1.0|        29.5|                 2.5|        0.0|
|       1| 2023-01-01 00:03:36|  2023-01-01 00:09:36|            3.0|          1.2|       1.0|                 N|         237|         239|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       1| 2023-01-01 00:15:23|  2023-01-01 00:29:41|            2.0|          2.5|       1.0|                 N|         143|         229|           2|       15.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        20.6|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

doing a union of both dataframes, to write it as a single table to snowflake warehouse table, this will help in creating the analytics dashboard on tableau

In [ ]:
union_df= df_jan2022.union(df_jan2023)

In [ ]:
union_df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2022-01-01 00:35:40|  2022-01-01 00:53:29|            2.0|          3.8|       1.0|                 N|         142|         236|           1|       14.5|  3.0|    0.5|      3.65|         0.0|                  0.3|       21.95|                 2.5|        0.0|
|       1| 2022-01-01 00:33:43|  2022-01-01 00:42:07|            1.0|          2.1|       1.0|                 N|         236|          42|           1|        8.0|  0.5|    0.5|       4.0|         0.0|                  0.3|        13.3|                 0.0|        0.0|
|       2| 2022-01-01 00:53:21|  2022-01-01 01:02:19|            1.0|         0.97|       1.0|                 N|         166|         166|           1|        7.5|  0.5|    0.5|      1.76|         0.0|                  0.3|       10.56|                 0.0|        0.0|
|       2| 2022-01-01 00:25:21|  2022-01-01 00:35:23|            1.0|         1.09|       1.0|                 N|         114|          68|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       2| 2022-01-01 00:36:48|  2022-01-01 01:14:20|            1.0|          4.3|       1.0|                 N|          68|         163|           1|       23.5|  0.5|    0.5|       3.0|         0.0|                  0.3|        30.3|                 2.5|        0.0|
|       1| 2022-01-01 00:40:15|  2022-01-01 01:09:48|            1.0|         10.3|       1.0|                 N|         138|         161|           1|       33.0|  3.0|    0.5|      13.0|        6.55|                  0.3|       56.35|                 2.5|        0.0|
|       2| 2022-01-01 00:20:50|  2022-01-01 00:34:58|            1.0|         5.07|       1.0|                 N|         233|          87|           1|       17.0|  0.5|    0.5|       5.2|         0.0|                  0.3|        26.0|                 2.5|        0.0|
|       2| 2022-01-01 00:13:04|  2022-01-01 00:22:45|            1.0|         2.02|       1.0|                 N|         238|         152|           2|        9.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.8|                 2.5|        0.0|
|       2| 2022-01-01 00:30:02|  2022-01-01 00:44:49|            1.0|         2.71|       1.0|                 N|         166|         236|           1|       12.0|  0.5|    0.5|      2.25|         0.0|                  0.3|       18.05|                 2.5|        0.0|
|       2| 2022-01-01 00:48:52|  2022-01-01 00:53:28|            1.0|         0.78|       1.0|                 N|         236|         141|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                 2.5|        0.0|
|       2| 2022-01-01 00:55:03|  2022-01-01 01:04:25|            1.0|         1.91|       1.0|                 N|         141|         229|           2|        8.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        12.3|                 2.5|        0.0|
|       2| 2022-01-01 00:31:06|  2022-01-01 00:34:14|            3.0|         0.82|       1.0|                 N|         114|          90|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:41:07|  2022-01-01 00:44:46|            3.0|         0.73|       1.0|                 N|         234|         113|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.3|                 2.5|        0.0|
|       2| 2022-01-01 00:56:34|  2022-01-01 01:12:04|            2.0|         2.16|       1.0|                 N|         246|          79|           1|       11.5|  0.5|    0.5|      3.06|         0.0|                  0.3|       18.36|                 2.5|        0.0|
|       2| 2022-01-01 00:39:46|  2022-01-01 00:47:36|            4.0|         1.43|       1.0|                 N|          43|         140|           1|        7.5|  0.5|    0.5|      2.26|         0.0|                  0.3|       13.56|                 2.5|        0.0|
|       2| 2022-01-01 00:58:06|  2022-01-01 01:05:45|            1.0|         1.58|       1.0|                 N|         239|         151|           2|        8.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.8|                 2.5|        0.0|
|       1| 2022-01-01 00:33:52|  2022-01-01 00:47:28|            3.0|          4.2|       1.0|                 N|         148|         141|           1|       14.0|  2.5|    0.5|      3.45|         0.0|                  0.3|       20.75|                 2.5|        0.0|
|       1| 2022-01-01 00:53:54|  2022-01-01 01:05:20|            2.0|          2.2|       1.0|                 N|         237|         107|           1|        9.5|  2.5|    0.5|      2.55|         0.0|                  0.3|       15.35|                 2.5|        0.0|
|       1| 2022-01-01 00:00:44|  2022-01-01 00:05:29|            1.0|          0.2|       1.0|                 N|           7|           7|           2|        5.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.3|                 0.0|        0.0|
|       1| 2022-01-01 00:35:50|  2022-01-01 00:48:33|            2.0|          3.9|       1.0|                 N|         107|         263|           1|       13.0|  3.0|    0.5|      3.35|         0.0|                  0.3|       20.15|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [ ]:
union_df.count()

5530697

finding outliers where year is not 2022,2023 and month is not january

In [ ]:
union_df.registerTempTable('union_df')

df_outliers = spark.sql("""
                      select count(1) from union_df where  month(tpep_pickup_datetime) !=1 
                      OR year(tpep_pickup_datetime) not in (2022,2023)
                      """)

In [ ]:
df_outliers.show()

+--------+
|count(1)|
+--------+
|     100|
+--------+

aggregating columns as per location zone, and year and excluding outliers , transformed using sparkSQL

In [ ]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    cast(PULocationID as string) AS revenue_zone,

    cast(year(tpep_pickup_datetime) as string) AS revenue_year, 

    -- Revenue calculation 
    ROUND(SUM(fare_amount)) AS revenue_monthly_fare,
    ROUND(SUM(extra)) AS revenue_monthly_extra,
    ROUND(SUM(mta_tax)) AS revenue_monthly_mta_tax,
    ROUND(SUM(tip_amount)) AS revenue_monthly_tip_amount,
    ROUND(SUM(tolls_amount)) AS revenue_monthly_tolls_amount,
    ROUND(SUM(improvement_surcharge)) AS revenue_monthly_improvement_surcharge,
    ROUND(SUM(total_amount)) AS revenue_monthly_total_amount,
    ROUND(SUM(congestion_surcharge)) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    ROUND(AVG(passenger_count),2) AS avg_montly_passenger_count,
    ROUND(AVG(trip_distance),2) AS avg_montly_trip_distance
FROM
    union_df where month(tpep_pickup_datetime) ='1' AND year(tpep_pickup_datetime) in ('2022','2023')
GROUP BY
    1, 2
ORDER BY cast(revenue_zone as integer),revenue_year
""")

In [ ]:
df_result.show()

+------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|revenue_year|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|           1|        2022|             25341.0|                  9.0|                   32.0|                    3815.0|                      1219.0|                                100.0|                     30518.0|                                 8.0|                      1.78|                    1.25|
|           1|        2023|             35840.0|                 36.0|                   33.0|                    5097.0|                      1151.0|                                386.0|                     42553.0|                                 8.0|                      1.59|                     1.6|
|           2|        2022|               104.0|                  3.0|                    1.0|                      20.0|                        13.0|                                  1.0|                       144.0|                                 5.0|                       1.0|                   19.21|
|           2|        2023|                 0.0|                  0.0|                    0.0|                       0.0|                         0.0|                                  0.0|                         0.0|                                 0.0|                       2.0|                    6.56|
|           3|        2022|              1232.0|                  2.0|                   16.0|                      17.0|                        68.0|                                 11.0|                      1365.0|                                 3.0|                      1.09|                    4.79|
|           3|        2023|              1196.0|                  9.0|                   19.0|                      43.0|                        65.0|                                 39.0|                      1372.0|                                 0.0|                      1.03|                    4.56|
|           4|        2022|             36314.0|               2245.0|                 1345.0|                    6608.0|                       431.0|                                817.0|                     53024.0|                              4948.0|                      1.48|                    2.81|
|           4|        2023|             62156.0|               4448.0|                 1783.0|                   11620.0|                       328.0|                               3584.0|                     90963.0|                              7515.0|                      1.42|                     3.9|
|           5|        2022|              2695.0|                  5.0|                   15.0|                       0.0|                       243.0|                                  9.0|                      2966.0|                                 0.0|                       1.0|                   22.28|
|           5|        2023|              3605.0|                  0.0|                   28.0|                       0.0|                      1392.0|                                 56.0|                      5082.0|                                 0.0|                       1.0|                    18.2|
|           6|        2022|               301.0|                  4.0|                    2.0|                      22.0|                        36.0|                                  2.0|                       365.0|                                 3.0|                       1.2|                    8.37|
|           6|        2023|               401.0|                 28.0|                   21.0|                     170.0|                       452.0|                                 44.0|                      1117.0|                                 0.0|                      1.67|                    1.35|
|           7|        2022|             25733.0|                751.0|                  869.0|                    2844.0|                       413.0|                                533.0|                     32021.0|                              1005.0|                      1.22|                     3.0|
|           7|        2023|             25841.0|               1007.0|                  664.0|                    2707.0|                       350.0|                               1363.0|                     32618.0|                               755.0|                      1.25|                    2.86|
|           8|        2022|               753.0|                 14.0|                    8.0|                      76.0|                        84.0|                                  6.0|                       947.0|                                 8.0|                      1.16|                    4.08|
|           8|        2023|               603.0|                  8.0|                    5.0|                      93.0|                        39.0|                                 11.0|                       768.0|                                10.0|                      1.18|                    5.84|
|           9|        2022|               532.0|                  0.0|                    7.0|                      10.0|                        38.0|                                  4.0|                       591.0|                                 0.0|                      1.07|                    5.23|
|           9|        2023|              1184.0|                  2.0|                   20.0|                      46.0|                        39.0|                                 40.0|                      1334.0|                                 0.0|                      1.02|                    4.25|
|          10|        2022|             26318.0|                456.0|                  231.0|                    3655.0|                      2027.0|                                167.0|                     33400.0|                               580.0|                      1.45|                    10.8|
|          10|        2023|             84385.0|               1503.0|                  590.0|                   13241.0|                      6229.0|                               1289.0|                    109429.0|                              2018.0|                      1.37|                   13.34|
+------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

defining snowflake options and credentials, and loading to snowflake table

In [ ]:
options = {
    "sfURL": "https://wvaatlz-n******.snowflakecomputing.com",
    "sfUser": "******",
    "sfPassword": "******",
    "sfDatabase": "data_eng_project",
    "sfSchema": "nyc_taxi_data",
    "sfWarehouse": "COMPUTE_WH",
}

In [ ]:
df_result.write.format("snowflake").options(**options).option("dbtable", "yellow_taxi_revenue_stats").mode("overwrite").save()